---
---

<div id="box-bottom" class="w-[95%] mx-auto mt-6 mb-4 bg-brand-light-pink text-center border border-brand-pink p-4 rounded-sm">
  <p class="my-2 text-brand-dark-pink">This site is under construction, be patient i'm stupid at coding asf</p>
  <p class="my-2 text-brand-dark-pink">
    Copyright © 2025 
    <a href="https://melody-nomas.neocities.org" class="text-blue-600 hover:underline">Melody Nomás</a>, 
    yoyo yuu. All Rights Reserved.
  </p>
</div>