---
---

<header class="py-5 bg-white text-center">
  <h1 class="mt-[5px] text-[50px] font-rock-bold italic text-white [text-shadow:2px_0_0_#972469,0_2px_0_#972469,-2px_0_0_#972469,0_-2px_0_#972469]">
    yoyo's website
  </h1>
</header>