---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me - yoyo yuu">
    <div id="content-flex" class="about-layout">

        <!-- LEFT SIDE -->
        <div class="content left about-left">
            <div class="content-box">
                <img src="/img/yoyome.png" alt="Yoyo yuu" class="profile-pic"/>
                <h2>Identity Info</h2>
                <li>she/her</li>
                <li>Mexican</li>
                <li>20 y.o.</li>
                <li>Spanish(native), English(B1)</li>
                <li>Software Engineer Student</li>
                <li>Digital artist</li>
            </div>
        </div>

        <!-- CENTER CONTENT -->
        <div class="content center about-center">
            <!-- SOBRE MÍ -->
            <div class="content-box">
                <h2>SOBRE MÍ</h2>
                <p>
                    ¡Holiiii! Me llamo Isis Vanesa, pero en internet me conocen
                    como Yoyo, yoyo yuu, yoyonia, como sea!
                </p>
                <p>
                    Soy un intento de artista digital que disfruta de dibujar
                    sus personajes favoritos. Me encantan muchas cosas y cuando
                    me obsesiono con un personaje, va totalmente en serio
                    lamentablemente (o afortunadamente).
                </p>
            </div>

            <!-- POR QUÉ ESTE SITIO -->
            <div class="content-box">
                <h2>¿Por qué un sitio web?</h2>
                <p class="Justify-text">
                    Mi propósito al crear un sitio web es tener un espacio
                    totalmente personal donde tengo control absoluto sobre lo
                    que comparto y cómo lo comparto, sin depender de plataformas
                    externas.
                </p>
                <p>
                    También sigo aprendiendo desarrollo web como hobby entre
                    vacaciones, y con los conocimientos que adquiero como
                    estudiante de ingeniería en software, este sitio me permite
                    practicar, experimentar y mejorar mis habilidades.
                </p>
            </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="content right about-right">
            <div class="content-box interests-table">
                <h2>INTERESES</h2>

                <div class="interests-row">
                    <div class="category">
                        <h3>General</h3>
                        <li>Dibujo digital</li>
                        <li>OCs & historias</li>
                        <li>Anime y Manga</li>
                        <li>Videojuegos casuales</li>
                        <li>Diseño web</li>
                    </div>

                    <div class="category">
                        <h3>Series</h3>
                        <li>Boku no Hero Academia</li>
                        <li>Jojo's Bizzare Adventure</li>
                        <li>Spy x Family</li>
                        <li>Shumatsu no Valkyrie</li>
                    </div>
                </div>

                <div class="interests-row">
                    <div class="category">
                        <h3>Música</h3>
                        <li>Queen</li>
                        <li>ABBA</li>
                        <li>Vocaloid</li>
                        <li>Lady Gaga</li>
                    </div>

                    <div class="category">
                        <h3>Videojuegos</h3>
                        <li>Pokemon</li>
                        <li>Deltarune</li>
                        <li>Lo que me obsesione ese mes</li>
                    </div>
                </div>
            </div>
        </div>

    </div>
</BaseLayout>
