---
import BaseLayout from "../layouts/BaseLayout.astro";

import Header from "../components/core/Header.astro";
import Navigation from "../components/Navigation.astro";
import LeftNav from "../components/LeftNav.astro";
import MainContent from "../components/MainContent.astro";
import Updates from "../components/Updates.astro";
import Footer from "../components/core/Footer.astro";
// NOTA: Checar porque falla el github pages al hacer deploy
---

<!--
                         #################                          
                     #####            #  #########                  
                  ####               ##          ####               
                ###                ##                ###            
              ###               ###                    ####         
             ##             ####                          ###       
           ###               #############                 ###      
          ##                        ###    ##               ###     
        ###                        ########                  ###    
       ##                                                     ##    
     ##   #                               #   ##               ##   
   ### ###       ##                     ##     ##              ###  
 #######       ##            ##       ###     ####    ##     ## ##  
#### ##      ###           ###     #####   ###    ### ####    ##### 
    ###     ##        ####  ## ##### ######          ##  ##     ####
    ##     ##########       ##                           ##      ###
    #         ##                                         ##      ## 
   ##         ##                                          #      ###
  ## ###      ##                                   ####   #       ##
  ######     ## ######     ##             ##  ####        #       ##
  ##  ##     ## ###    ########          ####    ######## #     ####
      #####  ## ############## ##       ##########    ##  #    ##  #
       ##### ##  ##          ####       ###          ##   #  ###    
       ### ###    ###         ##        ###         ##    # ##  ##  
      ###   ##      ##      ###           ##     ####    ####    ## 
      ##     #         #####                ######       ###     ## 
      ##                                                         #  
      ###                                                      ###  
       ###                                                   ####   
         ######                  #######                ######      
             ####               ##     ##              ##           
               ###                                   ###            
                 ####                             ####              
                    #####                   ######                  
                         ###################                               

ESTA PLANTILLA FUE CODIFICADA POR MELODY NOMÁS. PUEDES RETIRAR LAS NOTAS
VERDES QUE SE HAYAN A LO LARGO DEL CÓDIGO, PERO ESTÁ PROHIBIDO RETIRAR
LOS CRÉDITOS DEL CÓDIGO Y EL SITIO WEB. ¡RESPETA EL TRABAJO DE LOS DEMÁS
Y CONTRIBUYE EL CRECIMIENTO Y DESARROLLO DE LA COMUNIDAD WEB!

@M3LODY_ZALD1VAR, HTTPS://MELODY-NOMAS.NEOCITIES.ORG/
-->

<BaseLayout title="yoyo yuu">
  <Header />

  <Navigation />

  <div id="content-flex">
    <LeftNav />
    <MainContent />
    <Updates />
  </div>

  <Footer />
</BaseLayout>
