<div class="content left">
  <div class="content-box">
    <h2>NAVIGATION</h2>
    <div class="nav-scroll">
      <ul class="nav-links">
        <li><a href="https://yoyo-yuu.me">silly text</a></li>
        <li><a href="https://yoyo-yuu.me">another silly</a></li>
        <li><a href="https://yoyo-yuu.me">goofy</a></li>
        <li><a href="https://yoyo-yuu.me">hi</a></li>
        <li><a href="https://yoyo-yuu.me">hello</a></li>
        <li><a href="https://yoyo-yuu.me">yay</a></li>
        <li><a href="https://yoyo-yuu.me">YAY</a></li>
      </ul>
    </div>
  </div>
</div>
