---
---

<div class="w-[250px]">
  <div class="border border-brand-pink rounded overflow-hidden">
    <h2 class="m-0 p-2 bg-brand-light-pink text-lg font-rock-bold text-center border-b border-brand-pink">
      NAVIGATION
    </h2>
    <div class="max-h-[300px] overflow-y-auto">
      <ul class="list-none p-0 m-0">
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="/about" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            ABOUT ME
          </a>
        </li>
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="/portfolio" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            PORTAFOLIO
          </a>
        </li>
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="/comms" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            COMMS
          </a>
        </li>
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="/projects" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            PROJECTS
          </a>
        </li>
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="https://yoyo-yuu.me" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            hello
          </a>
        </li>
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="https://yoyo-yuu.me" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            yay
          </a>
        </li>
        <li class="border-b border-brand-hot-pink last:border-b-0">
          <a 
            href="https://yoyo-yuu.me" 
            class="block py-2 px-3 text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:bg-brand-light-pink/30 hover:underline"
          >
            YAY
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>