---
---

<div class="content mt-5 w-[250px] flex flex-wrap justify-between">
  <div class="w-full mb-5 border border-brand-pink">
    <h2 class="m-0 p-[8px] bg-brand-light-pink text-[18px] font-rock-bold text-center border-b border-brand-pink">NAVIGATION</h2>
    <div class="nav-scroll max-h-[300px] overflow-y-auto pr-2">
      <ul class="list-none p-0 m-0">
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="about" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            ABOUT ME
          </a>
        </li>
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="https://yoyo-yuu.me" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            another silly
          </a>
        </li>
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="https://yoyo-yuu.me" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            goofy
          </a>
        </li>
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="https://yoyo-yuu.me" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            hi
          </a>
        </li>
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="https://yoyo-yuu.me" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            hello
          </a>
        </li>
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="https://yoyo-yuu.me" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            yay
          </a>
        </li>
        <li class="py-2 border-b border-brand-hot-pink last:border-b-0">
          <a href="https://yoyo-yuu.me" class="text-brand-hot-pink no-underline transition-colors duration-200 hover:text-[#d13a9c] hover:underline">
            YAY
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>