<div class="content center">
  <div class="content-box">
    <h2>WELCOME YAY!!!!!!</h2>
    <p>
      I created this blog with the purpose of having a personal space where I
      can share my things, talk about my interests, and introduce myself in a
      space that's all my own!
    </p>

    <p>
      In this space, you'll find art, potential software projects, characters
      created by me, and me talking about pure nonsense or about my obsession
      with various characters.
    </p>
  </div>

  <div class="box-small">
    <h2>About Me</h2>
    <p>
      Hi! I'm yoyo. I love doing art, programming small things, and having my
      own cute silly space on the internet.
    </p>

    <a href="/about" class="more-button">Want to know more?</a>
  </div>

  <div class="box-small">
    <h2>Título</h2>
    <p>Texto Texto Texto Texto</p>
  </div>
</div>
