---
---

<div class="content mt-5 w-[530px] flex flex-wrap justify-between">
  <div class="w-full mb-5 border border-brand-pink">
    <h2 class="m-0 p-[8px] bg-brand-light-pink text-[18px] font-rock-bold text-center border-b border-brand-pink">WELCOME YAY!!!!!!</h2>
    <div class="p-4">
      <p class="my-3">
        I created this blog with the purpose of having a personal space where I
        can share my things, talk about my interests, and introduce myself in a
        space that's all my own!
      </p>
      <p class="my-3">
        In this space, you'll find art, potential software projects, characters
        created by me, and me talking about pure nonsense or about my obsession
        with various characters.
      </p>
      <p class="my-3">
        This site was created on October 26th, 2025 and after some... Stuff (lmao) It's finally up and running!
      </p>
    </div>
  </div>

  <div class="w-[260px] mt-5 border border-brand-pink">
    <h2 class="m-0 p-[8px] bg-brand-light-pink text-[18px] font-rock-bold text-center border-b border-brand-pink">Contact me!</h2>
    <div class="p-4">
      <p class="my-3">
        If you want to reach out to me for any reason, feel free to contact me
        via
        <a href="mailto:yoyoyuu353@gmail.com" class="text-brand-hot-pink underline hover:text-[#d13a9c]">
          my email
        </a>
      </p>
    </div>
  </div>

  <div class="w-[260px] mt-5 border border-brand-pink">
    <h2 class="m-0 p-[8px] bg-brand-light-pink text-[18px] font-rock-bold text-center border-b border-brand-pink">Título</h2>
    <div class="p-4">
      <p class="my-3">Texto Texto Texto Texto</p>
    </div>
  </div>
</div>