---
---

<nav id="navigation" class="w-full py-[5px] bg-gradient-to-b from-white to-brand-light-pink border-b-2 border-brand-light-pink text-[16px] font-medium text-center">
  <ul class="list-none p-[5px] m-0">
    <li class="inline m-0 text-[16px] font-rock-bold text-brand-pink uppercase tracking-[1px] after:content-['|'] after:mx-[10px] after:text-brand-hot-pink last:after:content-none">
      <a href="https://www.instagram.com/yoyo_yuu_/" class="text-brand-pink no-underline hover:text-blue-600 hover:border-b hover:border-dashed hover:border-blue-600">
        Instagram
      </a>
    </li>
    <li class="inline m-0 text-[16px] font-rock-bold text-brand-pink uppercase tracking-[1px] after:content-['|'] after:mx-[10px] after:text-brand-hot-pink last:after:content-none">
      <a href="https://x.com/yoyonia_" class="text-brand-pink no-underline hover:text-blue-600 hover:border-b hover:border-dashed hover:border-blue-600">
        Twitter
      </a>
    </li>
    <li class="inline m-0 text-[16px] font-rock-bold text-brand-pink uppercase tracking-[1px] after:content-['|'] after:mx-[10px] after:text-brand-hot-pink last:after:content-none">
      <a href="https://www.tiktok.com/@yoyo_yuu_" class="text-brand-pink no-underline hover:text-blue-600 hover:border-b hover:border-dashed hover:border-blue-600">
        TikTok
      </a>
    </li>
    <li class="inline m-0 text-[16px] font-rock-bold text-brand-pink uppercase tracking-[1px] after:content-['|'] after:mx-[10px] after:text-brand-hot-pink last:after:content-none">
      <a href="https://cara.app/yoyoyuu" class="text-brand-pink no-underline hover:text-blue-600 hover:border-b hover:border-dashed hover:border-blue-600">
        Cara
      </a>
    </li>
    <li class="inline m-0 text-[16px] font-rock-bold text-brand-pink uppercase tracking-[1px]">
      <a href="https://github.com/yoyoyuu" class="text-brand-pink no-underline hover:text-blue-600 hover:border-b hover:border-dashed hover:border-blue-600">
        Github
      </a>
    </li>
  </ul>
</nav>