<div id="navigation">
  <ul>
    <li><a href="https://www.instagram.com/yoyo_yuu_/">Instagram</a></li>
    <li><a href="https://x.com/yoyonia_">Twitter</a></li>
    <li><a href="https://www.tiktok.com/@yoyo_yuu_">TikTok</a></li>
    <li><a href="https://cara.app/yoyoyuu">Cara</a></li>
    <li><a href="https://github.com/yoyoyuu">Github</a></li>
  </ul>
</div>
