<div class="content right">
  <div class="content-box">
    <h2>Updates</h2>

    <div class="updates-scroll">

      <p><span class="Highlight-text">[10/12/2025]:</span> Whole site migrated to astro YAY</p>
      <p><span class="Highlight-text">[10/12/2025]:</span> Whole site migrated to astro YAY</p>
      <p><span class="Highlight-text">[01/10/2025]:</span> Editing updates order</p>
      <p><span class="Highlight-text">[01/10/2025]:</span> Editing navigation box</p>
      <p><span class="Highlight-text">[30/09/2025]:</span> Editing content boxes</p>
      <p><span class="Highlight-text">[26/09/2025]:</span> Adding info and social medias</p>
      <p><span class="Highlight-text">[26/09/2025]:</span> Submiting my website to github</p>
      <p><span class="Highlight-text">[26/09/2025]:</span> Getting domain for my website</p>
    </div>
  </div>
</div>