---
---

<div class="content right mt-5 w-[250px] flex flex-wrap justify-between">
  <div class="w-full mb-5 border border-brand-pink max-h-[317px] overflow-y-auto">
    <h2 class="m-0 p-[8px] bg-brand-light-pink text-[18px] font-rock-bold text-center border-b border-brand-pink">UPDATES</h2>
    <div class="updates-scroll max-h-[267px] overflow-y-auto pr-2 p-[10px]">
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[11/12/2025]:</span> The site now uses TailwindCSS</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[11/12/2025]:</span> Created "About me" page</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[10/12/2025]:</span> Whole ass site migrated to Astro</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[01/10/2025]:</span> Editing updates order</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[01/10/2025]:</span> Editing navigation box</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[30/09/2025]:</span> Editing content boxes</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[26/09/2025]:</span> Adding info and social medias</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[26/09/2025]:</span> Submiting my website to github</p>
      <p class="my-[10px]"><span class="bg-brand-light-pink font-semibold px-[5px] py-[2px] rounded-[5px]">[26/09/2025]:</span> Getting domain for my website</p>
    </div>
  </div>
</div>